* {
    padding: 0%;
    margin: 0%;
    font-family: Rubik;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0ch auto;
}

.top {
    background-color: #295093;
    height: 4px;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F6F6F9;
}

.header-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-item {
    padding-right: 20px;
}

.header-top-name {
    font-size: 28px;
    font-weight: 700;
    color: #295093;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.header-kurs-bold {
    font-weight: 700;
    color: #295091;
    display: inline-block;
    font-size: 16px;
}

.header-kurs-number {
    font-weight: 500;
    color: #7A7A7A;
    display: inline-block;
    font-size: 16px;
    padding-left: 3px;
}

.header-search {
    background-color: white;
    padding: 10px;
}

.header-lg {
    padding: 10px;
    border-radius: 50%;
}

.header-link {
    background-image: linear-gradient(to right, #1e96c8, #37AEE2);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.header-link:hover {
    background-image: linear-gradient(to left, #1e96c8, #37AEE2);
}

.btn {
    border: 0px solid white;
    background-color: white;
    border-radius: 5px;
}

.header-join {
    margin-right: 5px;
}

.menu-list {
    list-style: none;
    margin-top: 40px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.header-rek {
    width: 100%;
    padding-top: 20px;
}

.section-left {
    width: 70%;
}

.section-left-list {
    list-style: none;
    padding-top: 30px;
}

.section-left-item {
    display: flex;
}

.left-title {
    font-size: 24px;
    font-weight: 500;
}