body {
    /* font-family: 'Irish Grover', cursive; */
    font-family: Rubik;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top {
    background-color: #295093;
    height: 4px;
}

.header {
    margin-top: 47px;
}

.header-title {
    font-size: 28px;
    color: #295091;
    font-family: Rubik;
    font-weight: bold;
    align-items: center;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    line-height: 33.18px;
    padding: 10px;
}

.header-kurs {
    list-style: none;
    display: inline;
    padding-left: 20px;
}

.header-kurs-uz {
    color: #7A7A7A;
    display: inline;
    padding-right: 20px;
    font-weight: bold;
}

.header-kurs-bold {
    color: #295091;
    font-weight: bold;
}

.header-search {
    width: 20px;
    height: 20px;
    padding-left: 200px;
    align-items: center;
}

.header-lg {
    width: 20px;
    height: 20px;
    /* padding-left: 20px; */
    align-items: center;
    border-radius: 50%;
}

.header-obuna {
    display: inline-block;
    background-color: #1E96C8;
    width: 146px;
    height: 30px;
    border-radius: 10px;
    margin-left: 20px;
    padding: 5px;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.header-tg {
    width: 20px;
    height: 20px;
}

.header-menu {
    list-style: none;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
}

.header-menu-news {
    display: inline-block;
    padding-left: 18px;
}

.corona {
    /* background-color: lawngreen; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.corona-stat {
    margin-top: 30px;
    list-style: none;
    background-color: #F6F6F9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.corona-items {
    /* padding-left: 120px; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* width: 120px; */
    text-align: center;
    /* background-color: khaki; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.corona-statik {
    font-weight: bold;
    padding-left: 20px;
}

.corona-pic {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    flex-direction: column;
}

.corona-raqam {
    font-size: 25px;
}

.news-ol {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.news-li {
    padding: 10px;
    width: 30%;
    text-align: left;
}

.news-img {
    width: 100%;
    height: 200px;
}

.news-title {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.news-date {
    font-size: 15px;
    color: #6B6D97;
}

.obuna {
    text-align: start;
    padding-top: 20px;
    border-radius: 5px;
}

.obuna-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FCF3E0;
    padding: 20px;
}

.obuna-title {
    font-weight: bold;
    font-size: 20px;
}

.obuna-img {
    width: 31px;
    height: 35px;
}

.obuna-button {
    background-color: #FF8B36;
    border: 0px;
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.section {
    padding-top: 50px;
    padding-bottom: 200px;
}

.section-title {
    font-size: 20px;
    font-family: 500;
    font-weight: 500;
    padding-bottom: 10px;
}

.section-one {
    width: 60%;
    float: left;
}

.section-list {
    list-style: none;
    padding-bottom: 20px;
}

.section-list-img {
    width: 252px;
    height: 143px;
}

.section-list-title {
    font-size: 20px;
    font-weight: 500;
}

.section-list-text {
    font-weight: 400;
    font-size: 15px;
}

.section-tou-list {
    background-color: #F6F6F9;
    list-style: none;
}

.section-list-day {
    color: #7688A4;
    font-size: 14px;
}

.section-tou-title {
    font-size: 20px;
    font-weight: 500;
}

.section-tou-text {
    font-size: 17px;
    font-weight: 400;
}

.section-tou-day {
    color: #7688A4;
}

.section-tou {
    width: 30%;
    float: right;
}

.section-tou-list {
    padding: 10px;
}