* {
    padding: 0%;
    margin: 0%;
    font-family: Rubik;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0ch auto;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F6F6F9;
    border-top: 4px solid #295093;
}

.header-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-item {
    padding-right: 20px;
}

.header-top-name {
    font-size: 28px;
    font-weight: 700;
    color: #295093;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.header-kurs-bold {
    font-weight: 700;
    color: #295091;
    display: inline-block;
    font-size: 16px;
}

.header-kurs-number {
    font-weight: 500;
    color: #7A7A7A;
    display: inline-block;
    font-size: 16px;
    padding-left: 3px;
}

.header-search {
    background-color: white;
    padding: 10px;
}

.header-lg {
    padding: 10px;
    border-radius: 50%;
}

.header-link {
    background-image: linear-gradient(to right, #1e96c8, #37AEE2);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.header-link:hover {
    background-image: linear-gradient(to left, #1e96c8, #37AEE2);
}

.btn {
    border: 0px solid white;
    background-color: white;
    border-radius: 5px;
}

.header-join {
    margin-right: 5px;
}

.menu-list {
    list-style: none;
    margin-top: 40px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.header-rek {
    width: 100%;
    padding-top: 20px;
}

.section {
    display: flex;
}

.section-left {
    width: 60%;
    float: left;
}

.section-left-list {
    list-style: none;
    padding-top: 30px;
}

.section-left-item {
    display: flex;
    padding-top: 20px;
}

.left-title {
    font-size: 24px;
    font-weight: 500;
}

.left-normal {
    padding-top: 20px;
}

.left-bold {
    font-weight: bold;
    padding-top: 20px;
}

.left-list {
    list-style: none;
    padding-bottom: 20px;
}

.section-right {
    width: 30%;
    float: right;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #F6F6F9;
    margin-left: 10px;
}

.right-title {
    font-weight: 500;
    font-size: 20px;
    padding-left: 20px;
}

.right-items {
    padding-left: 30px;
}

.section-right-list {
    list-style: none;
}

.right-items-text {
    padding-top: 10px;
    font-size: 17px;
    font-weight: 400;
    color: black;
}

.right-items-data {
    color: #7688A4;
    padding-top: 7px;
    padding-bottom: 10px;
}

.line {
    border-bottom: 3px solid #E4E4E4;
    margin-right: 20px;
    margin-left: 20px;
}

.hashtag {
    list-style: none;
    display: flex;
    padding-bottom: 10px;
}

.hashtag-items {
    padding-right: 20px;
    color: #28508E;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer-title {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.news-img {
    width: 330px;
}

.news-list {
    width: 30%;
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.news-data {
    color: grey;
}

.news-title {
    color: black;
}

.bottom {
    background-color: #295093;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottom-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 4px solid #133C82;
    padding-bottom: 20px;
}

.site-name {
    background-color: #133C82;
    padding: 15px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.site-join {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}

.bottom-img {
    padding-right: 10px;
}

.sub-list {
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

.sub-items {
    width: 400px;
    padding-right: 20px;
}

.sub-items-link {
    color: white;
}


/* //////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
//Regstr/////////////
//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
//////// */

.regstr {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 800px;
}

.regstr-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    float: left;
}

.regstr-input {
    background-color: #FBFBFB;
    border: 1px solid #BFCBDF;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 5px;
    /* height: 22px; */
    padding: 3px;
}

.vizitka {
    float: right;
    box-shadow: -4px 4px 4px #40393939;
    width: 450px;
    height: 200px;
    border: 2px solid #40393939;
    padding: 20px;
}

.vizitka-title {
    text-align: right;
    color: #295091;
    font-size: 27px;
    font-weight: 700;
}

.vizitka-link {
    background-color: #295091;
    padding: 7px;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 150px;
}

.vizitka-img {
    margin-left: 10px;
    width: 25px;
}

.vizitka-img2 {
    width: 100px;
    padding-left: 10px;
}

.link {
    color: black;
}